src/*.exe
src/sonycoin
src/sonycoind
src/test_sonycoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.sonycoin

# Compilation and Qt preprocessor part
*.qm
Makefile
sonycoin-qt
Sonycoin-Qt.app

# Unit-tests
Makefile.test
sonycoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
